<footer>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <p class="footer-heading">Filed under</p>
            <p class="tags"><a href="#">Interiors</a> <a href="#">Interviews</a></p>
            <div class="row">
                <div class="col-xs-2">
                    <small>Words by<br> Ben Fisher</small>
                </div>
                <div class="col-xs-2">
                    <small>Photography by<br> Irene Kim</small>
                </div>
                <div class="col-xs-2">
                    <small>Published on<br> June 14, 2017</small>
                </div>
            </div>
        </div>
    </div>
</footer>