<article>
    <div class="row">
        <div class="col-sm-8">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/1200x800">
            </a>
        </div>
        <div class="col-sm-4">
            <p class="tags">
                <a href="#">Interiors</a>
                <a href="#">Interviews</a>
            </p>
            <h3 class="h1 article-title article-title-inline">
                <a href="#" class="">
                    <span class="article-tag">At Home:</span>
                    <span class="article-subject">Helen Cain, Writer</span>
                </a>
            </h3>
            <div class="article-excerpt">
                <p>And why a good skincare product is the best thing money can buy</p>
            </div>
        </div>
    </div>
</article>