<article class="article article-stacked">
    <img src="http://placehold.it/800x600" class="img-responsive">
    <p class="tags">
        <a href="#">Culture</a>
        <a href="#">Lifestyle</a>
        <a href="#">Health</a>
    </p>
    <h3 class="h1 article-title">
        <a href="#">
            <span class="article-tag">In the Studio:</span>
            <span class="article-subject">Hilda Mendez</span>
        </a>
    </h3>
    <div class="article-excerpt">
        <p>Hydration, hydration, and some more hydration</p>
    </div>
</article>