---
layout: default
---

<main id="home">
    <section class="container">
        <h1 class="sr-only">the nook &middot; presented by Trove</h1>
        {% include article/image-left-jumbo.html %}
        <h2 id="interviews" class="h3"><a href="#" class="btn btn-link btn-link-chevron">Interviews</a></h2>
        <div class="row">
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
        </div>
        <h2 id="videos" class="h3"><a href="#" class="btn btn-link btn-link-chevron">Videos</a></h2>
        {% include article/stacked-jumbo.html %}
        <h2 id="culture" class="h3"><a href="#" class="btn btn-link btn-link-chevron">Culture</a></h2>
        <div class="row">
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
        </div>
        <h2 id="interiors" class="h3"><a href="#" class="btn btn-link btn-link-chevron">Interiors</a></h2>
        <div class="row">
            <div class="col-xs-6">
                <article class="article article-stacked article-half">
                    <img src="http://placehold.it/920" class="img-responsive">
                    <p class="tags">
                        <a href="#">Culture</a>
                        <a href="#">Lifestyle</a>
                    </p>
                    <h3 class="h1 article-title">
                        <a href="#">
                            <span class="article-tag">At Work:</span>
                            <span class="article-subject">D Studio</span>
                        </a>
                    </h3>
                    <p>A rather predictably summer-themed product selection this time around</p>
                </article>
            </div>
            <div class="col-xs-6">
                <article class="article article-stacked article-half">
                    <img src="http://placehold.it/920" class="img-responsive">
                    <p class="tags">
                        <a href="#">Culture</a>
                        <a href="#">Lifestyle</a>
                    </p>
                    <h3 class="h1 article-title">
                        <a href="#">
                            <span class="article-tag">At Work:</span>
                            <span class="article-subject">D Studio</span>
                        </a>
                    </h3>
                    <p>A rather predictably summer-themed product selection this time around</p>
                </article>
            </div>
        </div>
        <h2 id="tips" class="h3"><a href="#" class="btn btn-link btn-link-chevron">Tips &amp; Tricks</a></h2>
        <div class="row">
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
        </div>
        <h2 id="recent" class="h3"><a href="#" class="btn btn-link btn-link-chevron">Most Recent</a></h2>
        <div class="row">
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
        </div>
        {% include button-more.html %}
    </section>
    {% include form-email-capture.html %}
</main>
