---
layout: default
---

<main>
    <section class="container">
        <header class="page-header">
            <p class="subtitle">Video Series</p>
            <h1>My Trove</h1>
        </header>
        {% include article/stacked-jumbo.html %}
        <div class="row">
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
        </div>
        {% include button-more.html %}
    </section>
</main>