---
layout: default
---

<main>
    <section class="container">
        <div class="page-header">
            <p class="h5 text-center subtitle">Video Series</p>
            <h1 class="text-center">My Trove</h1>
        </div>
        {% include article/stacked-jumbo.html %}
        <div class="row">
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
        </div>
        {% include button-more.html %}
        {% include form-email-capture.html %}
    </section>
</main>