<aside class="container aside-recommended-stories">
    <div class="inner">
        <p class="aside-heading">Recommended Stories</p>
        <div class="row">
            <div class="col-xs-3">
                {% include article/recommended.html %}
            </div>
            <div class="col-xs-3">
                {% include article/recommended.html %}
            </div>
            <div class="col-xs-3">
                {% include article/recommended.html %}
            </div>
            <div class="col-xs-3">
                {% include article/recommended.html %}
            </div>
        </div>
    </div>
</aside>