<div id="article-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-controls">
        <button type="button"
                class="btn btn-text"
                data-target="#article-carousel"
                data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <span>1 of 10</span>
        <button type="button"
                class="btn btn-text"
                data-target="#article-carousel"
                data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-item">
            <div class="row">
                <div class="col-xs-6">
                    <section>
                        <p>Decorating a home or apartment is a fun project, but it's also daunting. Whether you're starting with a blank canvas or looking for a statement piece to upgrade an area, it can be hard to know where to start. That's where the internet can be your best — and worst — friend. Enter a few words into Google, and you'll open up pages and pages of every kind of bookend, end table, or table runner you can imagine. Now your search has gone from a treasure hunt to a needle-in-a-haystack hunt.</p>
                        <p>To avoid search-result overload, we've rounded up our favorite furniture and decor sites to take some of the headache out of home shopping. So kick back, relax, and click your way to a better apartment — without ever leaving your couch. Now that's living.</p>
                    </section>
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive" src="http://placehold.it/1334x1000">
                </div>
            </div>
        </div>
        <div class="item slide-item">
            <div class="row">
                <div class="col-xs-6">
                    <section>
                        <h3>Food &amp; Grease Stains</h3>
                        <p>We spoke with four organization experts and asked them to share their favorite storage hacks with us. The results were creative and fun — and the best part is that these improvements are all either inexpensive, or totally free. </p>
                    </section>
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive" src="http://placehold.it/1334x1000">
                </div>
            </div>
        </div>
        <div class="item slide-item">
            <div class="row">
                <div class="col-xs-6">
                    <section>
                        <h3>Beverages</h3>
                        <p>Your stomach may drop at the sight of spillage, but it's important to stay calm and handle the situation with the right strategy. To deal with coffee stains, Napelbaum recommends mixing a teaspoon of detergent with a cup of warm water, and blotting it with a paper towel. If the stain persists, use a solution of one part vinegar and two parts water to remove what is left. Allow everything to air-dry.</p>
                        <p>Beer stains are relatively low-maintenance: Just rub an ice cube over the spot before proceeding with the aforementioned tactic.</p>
                        <p>As for red wine? "A bit of sparkling Poland spring water does the trick for me every time," says Spellman.</p>
                    </section>
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive" src="http://placehold.it/1334x1000">
                </div>
            </div>
        </div>
    </div>
</div>