::-webkit-input-placeholder {
  font-style: italic;
}

.form-email-capture {
  padding: 78px 0;
  border: 1px solid @whispy-gray;
  border-width: 1px 0;

  h2 {
    @font-size: 26px;
    font-size: unit(@font-size/@font-size-base, em);
    line-height: unit(34/@font-size);
    font-weight: @font-weight-semibold;
    margin: 0 0 10px;
  }

  label {
    @font-size: 16px;
    font-size: unit(@font-size/@font-size-base, em);
    line-height: unit(26/@font-size);
    font-weight: @font-weight-book;
    margin: 0 0 20px;
  }

  input, .btn {
    border: 2px solid @black;
    height: 50px;
    border-radius: 0;
  }

  .btn {
    border-width: 2px 2px 2px 1px;
    font-weight: bold;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 15px;

    &:hover {
      background: @black;
      color: @white;
    }

    &:active, &:focus {
      background: @red-orange;
      color: @white;
      outline: none;
    }
  }
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;

  h1 {
    @font-size: 36px;
    font-size: unit(@font-size/@font-size-base, em);
    line-height: unit(40/@font-size);
    font-weight: @font-weight-semibold;
    margin: 48px 0 43px;
  }

  .subtitle {
    font-size: unit(14/@font-size-base, em);
    line-height: 1;
    text-transform: uppercase;
    margin: 34px 0 0;
    font-weight: @font-weight-bold;

    + h1 {
      margin: 0 0 68px;
    }
  }
}