body {
  width: 100%;
  overflow-x: hidden;

  @media (max-width: @grid-float-breakpoint) {
    padding-top: @navbar-height-mobile;
  }
}

#top-nav .navbar {
  z-index: 2048;
}

.row-flex {
  display: flex;
  align-items: center;
}