body {
  -webkit-font-smoothing: antialiased;
}

.tags {
  margin-bottom: 16px;

  a {
    @font-size: 12px;
    font-size: unit(@font-size/@font-size-base, em);
    line-height: unit(13/@font-size);
    color: @red-orange;
    font-weight: @font-weight-semibold;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 6px;
  }

  @media (min-width: @layout-breakpoint) {
    margin-bottom: 22px;
  }
}

blockquote {
  @font-size: 19px;
  font-size: unit(@font-size/@font-size-base, em);
  line-height: unit(30/@font-size);
  font-weight: @font-weight-semibold;
  margin-bottom: 60px;
  border-left: 2px solid black;
  padding: 0 0 0 36px;

  &.blockquote-centered {
    @font-size: 22px;
    font-size: unit(@font-size/@font-size-base, em);
    line-height: unit(32/@font-size);
    padding: 0 13%;
    border: none;
    text-align: center;

    footer {
      margin: 34px 0 0;
      color: @text-color;
      font-size: unit(14/@font-size, em);
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;

      &:before {
        display: none;
      }
    }
  }
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;

  h1, .subtitle {
    text-align: center;
  }

  h1 {
    @font-size: 36px;
    font-size: unit(@font-size/@font-size-base, em);
    line-height: unit(40/@font-size);
    font-weight: @font-weight-semibold;
    margin: 48px 0 43px;
  }

  .subtitle {
    font-size: unit(14/@font-size-base, em);
    line-height: 1;
    text-transform: uppercase;
    margin: 34px 0 0;
    font-weight: @font-weight-bold;

    + h1 {
      margin: 0 0 68px;
    }
  }
}
