---
layout: default
---

<main>
    <section class="container">
        <h1 class="text-center">Interviews</h1>
        {% include article/image-left-jumbo.html %}
        <div class="row">
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-xs-4">
                {% include article/stacked.html %}
            </div>
        </div>
        {% include article/stacked-jumbo.html %}
        {% include button-more.html %}
        {% include form-email-capture.html %}
    </section>
</main>