---
layout: default
---

<main>
    <section class="container">
        <header class="page-header">
            <h1>Interviews</h1>
        </header>
        {% include article/image-left-jumbo.html %}
        <div class="row article-spacer">
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
            <div class="col-sm-4">
                {% include article/stacked.html %}
            </div>
        </div>
        <div class="article-spacer">
            {% include article/stacked-jumbo.html %}
        </div>
        {% include button-more.html %}
    </section>
</main>