<!DOCTYPE HTML>
<html>
<head>
    <title>The Nook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.github.url }}/styles/app.css">
</head>
<body>
    <nav id="top-nav">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#top-nav .navbar-collapse"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon icon-menu visible-collapsed"></span>
                        <span class="icon icon-x hidden-collapsed"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.github.url }}/">
                        <img src="{{ site.github.url }}/images/thenook-logo.svg">
                    </a>
                    <a href="#" class="visible-before-nav-breakpoint-inline-block btn btn-link navbar-btn">
                        <span class="icon icon-trove-truck"></span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul id="primary-nav" class="nav navbar-nav">
                        <li><a href="#">Interviews</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Culture</a></li>
                        <li><a href="#">Interiors</a></li>
                        <li><a href="#">Tips</a></li>
                    </ul>
                    <ul id="trove-nav" class="nav navbar-nav navbar-right visible-after-nav-breakpoint">
                        <li><a href="#"><span class="icon icon-trove-truck"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {{ content }}
    <section class="container">
        {% include form-email-capture.html %}
    </section>
    <footer class="text-center nav-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-5">
                    <img src="{{ site.github.url }}/images/trove-logo.svg" class="img-responsive center-block">
                </div>
            </div>
            <ul class="nav navbar-nav navbar-social">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><strong><span class="icon icon-facebook"></span></strong></a></li>
                <li><a href="#"><strong><span class="icon icon-twitter"></span></strong></a></li>
                <li><a href="#"><strong><span class="icon icon-instagram"></span></strong></a></li>
            </ul>
            <br>
            <ul class="nav navbar-nav navbar-legal">
                <li>&copy; 2017 Trove Technologies, Inc.</li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="{{ site.github.url }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.github.url }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.github.url }}/js/main.js"></script>
</body>
</html>
