#home {
  section h2 {
    margin: 38px 0 22px;
    border-top: 1px solid @whispy-gray;
    padding-top: 34px;
    font-size: 1em;
    line-height: 1;

    .btn-link-chevron {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }
}