@bower-path: '../bower_components';
@bootstrap-path: '@{bower-path}/bootstrap';
@image-path: '../images';

@import 'font';
@import '@{bootstrap-path}/less/bootstrap';
@import 'variables';

@import 'components/index';
@import 'layouts/index';
