@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cqvnv3');
  src:  url('fonts/icomoon.eot?cqvnv3#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?cqvnv3') format('truetype'),
  url('fonts/icomoon.woff?cqvnv3') format('woff'),
  url('fonts/icomoon.svg?cqvnv3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'freight-sans';
  src: url('fonts/FreightSans_Book/FreightSans_Book.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'freight-sans';
  src: url('fonts/FreightSans_Semibold/FreightSans_Semibold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'freight-sans';
  src: url('fonts/FreightSans_Bold/FreightSans_Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'freight-sans';
  src: url('fonts/FreightSans_Medium/FreightSans_Medium.woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'freight-sans';
  src: url('fonts/FreightSans_MediumItalic/FreightSans_MediumItalic.woff');
  font-weight: 800;
  font-style: italic;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}
.icon-pinterest:before {
  content: "\e901";
}
.icon-twitter-alt:before {
  content: "\e902";
}
.icon-facebook-alt:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-trove-truck:before {
  content: "\e907";
}
