@icon-font-path: '@{bootstrap-path}/fonts/';
@font-family-sans-serif:  "freight-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-weight-book: normal;
@font-weight-semibold: 600;
@font-weight-bold: bold;
@font-weight-medium: 800;
